<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>正在出餐</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<script type="text/html" id="user-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">详情</button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove">出餐</button>
</script>

<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['table', 'form', 'jquery','common'], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        let cols = [
            [
                {
                    title: '订单编号',
                    field: 'orderId',
                    align: 'center',
                    width: 150
                },
                {
                    title: '用户名',
                    field: 'name',
                    align: 'center',
                    width: 100
                },
                {
                    title: '电话',
                    field: 'telephone',
                    align: 'center',
                    width: 120
                },
                {
                    title: '下单时间',
                    field: 'orderTime',
                    align: 'center',
                    width: 160
                },
                {
                    title: '订单金额',
                    field: 'orderPrice',
                    align: 'center',
                    width: 120
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                    width: 150
                }
            ]
        ]

        table.render({
            elem: '#user-table',
            url: '/order/page/0',
            page: true,
            parseData:function(res) {
                return {
                    "code" : 0,
                    "msg" : "",
                    "count" : res.data.total,
                    "data": res.data.records
                }
            },
            cols: cols,
            skin: 'line',
            limits: [10, 20],
            toolbar: '#user-toolbar',
            defaultToolbar: [{
                title: '刷新',
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(user-table)', function(obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        window.edit = function(obj) {
            layer.open({
                type: 2,
                title: '订单详情',
                shade: 0.1,
                area: ['800px', '400px'],
                content: '/back/toDetails/' + obj.data['orderId']
            });
        }

        window.remove = function(obj) {
            layer.confirm('确定完成出餐', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/order/updateState/0/" + obj.data['orderId'],
                    dataType: 'json',
                    type: 'PUT',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 200) {
                            layer.msg(result.data, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.refresh = function(param) {
            table.reload('user-table');
        }
    })
</script>
</body>
</html>