<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>挑选菜单</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item" style="padding-left: 20px">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">菜品名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入菜品名" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="recipe-table" lay-filter="recipe-table"></table>
    </div>
</div>

<script type="text/html" id="img">
    {{#if (d.picture == null) { }}
    <img th:src="@{/picture/None.png}" style="width: 50px; height: 50px" />
    {{# }else if(d.picture != null){ }}
    <img src="/picture/{{d.picture}}" style="width: 50px; height: 50px" />
    {{# } }}
</script>

<script type="text/html" id="recipe-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit">挑选</button>
</script>

<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['table', 'form', 'jquery','common'], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        let colsRecipe = [
            [
                {
                    title: '菜品名称',
                    field: 'name',
                    align: 'center',
                    width: 120
                },
                {
                    title: '分类',
                    field: 'category',
                    align: 'center',
                    width: 100
                },
                {
                    title: '计量单位',
                    field: 'unit',
                    align: 'center',
                    width: 100
                },
                {
                    title: '价格',
                    field: 'price',
                    align: 'center',
                    width: 100
                },
                {
                    title: '描述',
                    field: 'description',
                    align: 'center',
                    width: 120
                },
                {
                    title: '图片',
                    field: 'picture',
                    align: 'center',
                    width: 100,
                    templet: "#img",
                    style: 'height:50px;'
                },
                {
                    title: '操作',
                    toolbar: '#recipe-bar',
                    align: 'center',
                    width: 100
                }
            ]
        ]

        table.render({
            elem: '#recipe-table',
            url: '/recipe/page',
            page: true,
            parseData:function(res) {
                return {
                    "code" : 0,
                    "msg" : "",
                    "count" : res.data.total,
                    "data": res.data.records
                }
            },
            cols: colsRecipe,
            skin: 'line',
            limits: [10, 20],
            defaultToolbar: []
        });

        form.on('submit(user-query)', function(data) {
            table.reload('recipe-table', {
                where: data.field
            })
            return false;
        });

        table.on('tool(recipe-table)', function(obj) {
            if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        window.edit = function(obj) {
            layer.confirm('确定要添加该菜品到下周菜单', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: "/menu/add/" + obj.data['recipeId'],
                    dataType: 'json',
                    type: 'post',
                    success: function(result) {
                        layer.close(loading);
                        if (result.code === 200) {
                            layer.msg(result.data, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                table.reload('menu-table')
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }
    })
</script>
</body>
</html>
