<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>历史菜单</title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}" />
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item" style="padding-left: 20px">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">时间范围</label>
                    <div class="layui-input-inline">
                        <input type="text" name="timeRange" placeholder="yyyy-MM-dd~yyyy-MM-dd" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<script type="text/html" id="user-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="detail">详情</button>
    <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="select">复用</button>
</script>

<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script>
    layui.use(['table', 'form', 'jquery','common'], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;

        let cols = [
            [
                {
                    title: '历史编号',
                    field: 'hisId',
                    align: 'center',
                    width: 250
                },
                {
                    title: '时间范围',
                    field: 'timeRange',
                    align: 'center',
                    width: 250
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                    width: 180
                }
            ]
        ]

        table.render({
            elem: '#user-table',
            url: '/history/page',
            page: true,
            parseData:function(res) {
                return {
                    "code" : 0,
                    "msg" : "",
                    "count" : res.data.total,
                    "data": res.data.records
                }
            },
            cols: cols,
            skin: 'line',
            limits: [10, 20],
            toolbar: '#user-toolbar',
            defaultToolbar: ['filter', 'print', 'exports']
        });

        form.on('submit(user-query)', function(data) {
            table.reload('user-table', {
                where: data.field
            })
            return false;
        });

        table.on('tool(user-table)', function(obj) {
            if (obj.event === 'detail') {
                window.detail(obj);
            }else if (obj.event === 'select') {

                layer.confirm('确定要复用这些菜品到下一周吗', {
                    icon: 3,
                    title: '提示'
                }, function(index) {
                    layer.close(index);
                    let loading = layer.load();
                    $.ajax({
                        url: "/menu/multiplex/" + obj.data['menuIds'],
                        dataType: 'json',
                        type: 'post',
                        success: function(result) {
                            layer.close(loading);
                            if (result.code === 200) {
                                layer.msg(result.data, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    table.reload('user-table');
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 2,
                                    time: 3000
                                });
                            }
                        }
                    })
                });
            }
        });

        window.detail = function(obj) {
            layer.open({
                type: 2,
                title: '菜品详情',
                shade: 0.1,
                area: ['800px', '400px'],
                content: '/back/toHistoryDetail/' + obj.data['menuIds']
            });
        }

        window.refresh = function(param) {
            table.reload('user-table');
        }
    })
</script>
</body>
</html>
